@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
.image {
  max-width: 1920px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}
.carousel-control-prev, .carousel-control-next{
  position: absolute;
  top: 40%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
   width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background: $text-color;
  border: 0;
  &:hover {
    background-color: $text-color;
    opacity: 0.5;
  }
}
.carousel-control-prev, .carousel-control-next {
 opacity: 1;

}

.btn-right {
  opacity: 1;
  border-radius: 4px 0 0 4px;
}
.btn-left {
  border-radius: 0 4px 4px 0;
}

.footer {
  font-family: $font;
  padding-top: 80px;
  background: #f5f5f5;
  max-width: 1920px;
  width: 100%;
  @include deptop820 {
    font-family: $font;
    background: #f5f5f5;
    padding: 40px 20px 0;
  }
}

.aboutMe_column1 {
  width: 270px;
  margin-right: 30px;
}
.aboutMe_column2 {
  width: 200px;
  margin-right: 0;
  @include deptop412 {
    width: 100%;
    margin-right: 30px;
  }
  @include deptop390 {
    width: 100%;
    margin-right: 30px;

  }
  @include deptop375 {
    width: 100%;
    margin-right: 30px;
  }
  @include deptop360 {
    width: 100%;
    margin-right: 30px;

  }
}
.borderColum {
  @include deptop412 {

    padding-bottom: 20px;
    border-bottom: 1px solid $border !important;
  }
  @include deptop390 {

    padding-bottom: 20px;
    border-bottom: 1px solid $border !important;

  }
  @include deptop375 {

    padding-bottom: 20px;
    border-bottom: 1px solid $border !important;
  }
  @include deptop360 {

    padding-bottom: 20px;
    border-bottom: 1px solid $border !important;

  }
}

.columnMobile {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
::v-deep .card-body {
  background-color: #f5f5f5;
  padding-top: 38px;
  @include deptop820 {
    padding-top: 0;
    background-color: #f5f5f5;
  }
  @include deptop412 {
    padding-top: 0;
    background-color: #f5f5f5;
  }
  @include deptop390 {
    padding-top: 0;
    background-color: #f5f5f5;
  }
  @include deptop375 {
    padding-top: 0;
    background-color: #f5f5f5;
  }
  @include deptop360 {
    padding-top: 0;
    background-color: #f5f5f5;
  }
}
.aboutMe_column2 {
  @include deptop1120 {
  }
  @include deptop920 {
    margin-right: 30px;
  }

  @include deptop820 {
  }
  @include deptop412 {
  }
  @include deptop390 {

  }
  @include deptop375 {
  }
  @include deptop360 {

  }
}
.aboutMe_column2 {

}
.toggleMobile::after{
  @include deptop412 {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: auto;
    background: transparent;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    margin-top: -3px;
    top: 50%;
    right: -16px;
    font-weight: 400;
  }
  @include deptop390 {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: auto;
    background: transparent;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    margin-top: -3px;
    top: 50%;
    right: -16px;
    font-weight: 400;

  }
  @include deptop375 {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: auto;
    background: transparent;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    margin-top: -3px;
    top: 50%;
    right: -16px;
    font-weight: 400;
  }
  @include deptop360 {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: auto;
    background: transparent;
    border-right: 2px solid $text-color;
    border-bottom: 2px solid $text-color;
    transform: rotate(45deg);
    margin-top: -3px;
    top: 50%;
    right: -16px;
    font-weight: 400;

  }
}
.aboutMe_column3 {
  width: 250px;
  margin-right: 30px;
  @include deptop412 {
    width: 100%;
    margin-right: 30px;
  }
  @include deptop390 {
    width: 100%;
    margin-right: 30px;

  }
  @include deptop375 {
    width: 100%;
    margin-right: 30px;
  }
  @include deptop360 {
    width: 100%;
    margin-right: 30px;

  }
}
.footer-aboutMe {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  @include deptop820 {
  }
}
.footer-aboutMe_txt {
  display: flex;
  margin-bottom: 55px;
  justify-content: center;
  @include deptop412 {
    display: block;
    margin-bottom: 55px;
    padding: 0 20px;
  }
  @include deptop390 {
    display: block;
    margin-bottom: 55px;
    padding: 0 20px;
  }
  @include deptop375 {
    display: block;
    margin-bottom: 55px;
    padding: 0 20px;
  }
  @include deptop360 {
    display: block;
    margin-bottom: 55px;
    padding: 0 20px;
  }
}
.aboutMe_column-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $text-color;
  margin-bottom: 38px;
  @include deptop412 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  @include deptop390 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  @include deptop375 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  @include deptop360 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

  }
}
.aboutMe_column-adder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $text-colorRank;
  margin-bottom: 16px;
}
.aboutMe_column-number {
  margin-bottom: 16px;
  cursor: pointer;
}
.aboutMe_column-gmail {
  margin-bottom: 16px;
  cursor: pointer;
}
.aboutMe_column-phone {
  margin-bottom: 16px;
  cursor: pointer;
}

.aboutMe_column-inter {
  display: flex;
  align-items: center;
  a {
    margin-right: 16px;
  }
}
#fb {
  padding: 8.05px 8.05px 8.14px 8.05px;
  border-radius: 50%;
  background-color: #ffffff;
}
#zalo {
  padding: 8px 8px 8.59px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}
#yb {
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
  background-color: #ffffff;
}
.columnDev {
  @include deptop650 {
    display: none;
  }
}
.column__Mobile {
  display: none;
  @include deptop650 {
    display: block;
  }
}
.footer-client {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 84px;

  @include deptop1024 {
    padding:0 20px 20px;
  }
  @include deptop412 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  @include deptop390 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  @include deptop375 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  @include deptop360 {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }
  &_txt {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $text-color;
    @include deptop412 {
     padding: 0 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include deptop390 {
      padding: 0 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include deptop375 {
      padding: 0 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    @include deptop360 {
      padding: 0 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &_shop {
    display: flex;
    align-items: center;
    padding: 0 75px;
    @include deptop1024 {
      display: flex;
      align-items: center;
      padding: 0;
    }
    @include deptop412 {
      display: flex;
      align-items: center;
      padding: 0;
    }
    @include deptop390 {
      display: flex;
      align-items: center;
      padding: 0;
    }
    @include deptop375 {
      display: flex;
      align-items: center;
      padding: 0;
    }
    @include deptop360 {
      display: flex;
      align-items: center;
      padding: 0;

    }
  }
}
#google {
  @include deptop412 {
    width: 150px;
    height: auto;
  }
  @include deptop390 {
    width: 150px;
    height: auto;
  }
  @include deptop375 {
    width: 130px;
    height: auto;
  }
  @include deptop360 {
    width: 130px;
    height: auto;

  }
}
#app {
  @include deptop412 {
    width: 150px;
    height: auto;
  }
  @include deptop390 {
    width: 150px;
    height: auto;
  }
  @include deptop375 {
    width: 130px;
    height: auto;
  }
  @include deptop360 {
    width: 130px;
    height: auto;

  }
}
.client_shop-AppStor {
  margin-left: 16px;
}

.footer-last {
  padding: 16px;
  border-top: 1px solid #d7d9e2;
  display: flex;
  justify-content: center;
  align-items: center;
  @include deptop820 {
    padding: 15px;
    border-top: 1px solid #d7d9e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include deptop412 {
    display: block;
  }
  @include deptop390 {
    display: block;
  }
  @include deptop375 {
    display: block;
  }
  @include deptop360 {
    display: block;

  }
  &_rules {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.txt-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $text-colorRank;
  padding: 0 16px;

  @include deptop820 {

  }
  @include deptop412 {
    font-size: 13px;
    line-height: 21px;
    color: #7e7e84;
    padding: 0 10px;
  }
  @include deptop390 {
    font-size: 12px;
    line-height: 21px;
    color: #7e7e84;
    padding: 0 10px;
  }
  @include deptop375 {
    font-size: 10px;
    line-height: 21px;
    color: #7e7e84;
    padding: 0 10px;
  }
  @include deptop360 {
    font-size: 10px;
    line-height: 21px;
    color: #7e7e84;
    padding: 0 10px;
  }
  &:hover {
    color: #999;
  }
}
.rules-border {
  padding: 16px 0;
  border-left: 1px solid #d7d9e2;
}
.rules-title {
  display: flex;
  align-items: center;
}
.footer-last_year {
  margin-right: 170px;
  font-size: 14px;
  @include deptop820 {
    margin-right: 0;
  }
  @include deptop412 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  @include deptop390 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  @include deptop375 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  @include deptop360 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

  }
}
.footer-last_rules {
  margin-left: 150px;
  @include deptop1024 {
    margin-left: 0;
  }
  @include deptop920 {
    margin-left: 0;
  }
  @include deptop820 {
    margin-left: 0;
  }
}

