.service {
  padding-top: 93px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  &-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: $news-title;
    margin-bottom: 50px;
  }
}
.column-title_service {
  color: $service;
}
.column-icon img{
  width: 80px;
  height: 80px;
}
.service-width {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;

}
.service-column_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}
.service-column_item {
  width: 560px;
  border: 1px solid #d7d9e2;
  background-color: #ffffff;
  cursor: pointer;
  height: 300px;
  padding: 24px;
}
.column-title_service {
  padding: 5px 0;
  &:hover {
    transition: all .5s ease-in-out;
    color: $news-title;
  }
}
#dvKH {
  max-width: 1920px;
  width: 100%;
  margin-bottom: 80px;
}
